/Library
/Temp
/.vscode
/Assets/Plugins/UniRx/Examples
/Assets/Plugins/UniRx/Examples.meta
/Assets/StreamingAssets/AssetBundles
/Assets/Resources/testingSettings.json
*.csproj
*.sln
/polygon-unity.sln
/.vs/config/applicationhost.config
/.vs/polygon-unity/v14/.suo
/Assets/Resources/testingSettings.json.meta
/Assets/Plugins/ConsoleE.meta
/Assets/Plugins/ConsoleE
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
*.iml
.gradle
local.properties
/android-libs/.idea/workspace.xml
/android-libs/.idea/libraries
.DS_Store
/android-libs/build
/android-libs/captures
/android-libs/local-notifications/build
/android-libs/local-notifications/captures
.externalNativeBuild
/android-libs/app/build
Assets/Resources/testingSettings.txt
Assets/Resources/testingSettings.txt.meta
*.suo
Assets/Plugins/Android/google-services.json.meta
Assets/Plugins/Android/google-services.json
/Assets/Plugins/iOS/Firebase/GoogleService-info.plist
/Assets/Plugins/iOS/Firebase/GoogleService-info.plist.meta
Assets/Plugins/Android/Firebase/res/values/google-services.xml
Assets/Plugins/Android/Firebase/res.meta
Assets/Plugins/Android/Firebase/res/values/google-services.xml.meta
Assets/Plugins/Android/Firebase/res/values.meta
/obj
.vs/
/Assets/Resources/buildInfo.json
/Assets/Resources/buildInfo.json.meta
